<div class="container">
  <div class="row">
    <div class="list-group col-md-12 ">
      <!-- just add class table -->


      <!--</form>-->
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Phone</th>
          <th>Secret</th>
        </thead>
        <tbody>
          <tr ng-repeat="user in usersOrdered">
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.secret}}</td>
          </tr>
        </tbody>
      </table>





    </div>
  </div>